- const gitlab_repo = strings ? strings.gitlab_repo : "Gitlab Repo"
- const offline_version = strings ? strings.offline_version : "Download website"
.full-width.custom-wrapper.foot
  .pure-g
    .pure-u-1-3
      .pure-menu
        .pure-menu-heading.custom-brand 
          a(rel='license', href='http://creativecommons.org/licenses/by/4.0/')
            img(alt='Creative Commons License', style='border-width:0', src='https://i.creativecommons.org/l/by/4.0/88x31.png')

    .pure-u-2-3
      .pure-menu.pure-menu-horizontal.custom-menu-3
        ul.pure-menu-list
          li.pure-menu-item
            a.pure-menu-link(href='/dfak-offline.zip')= offline_version
          li.pure-menu-item
            a.pure-menu-link(href='https://gitlab.com/metamorphosis-org-mk/dfak')= gitlab_repo
          li.pure-menu-item
            a.pure-menu-link(href=site.baseurl + '/' + language + '/about/')= about
