---
layout: index.pug
language: mk
permalink: /mk/
---

.header.full-width
  .contents
    h1 Добредојдовте на 
    br
    h1 Дигиталната брза помош!
    br
    h1#sub Алатка дизајнирана да стигнете до вистинскиот CiviCERT тим

.intro
  .contents
    p Дигиталната прва помош е бесплатен ресурс кој ќе им помогне на луѓе кои помагаат во итни ситуации, обучувачи за дигитална безбедност, и активисти со техничка експертиза да подобро се заштитат себе си и заедниците кои ги поддржуваат против најчестите типови на дигитални проблеми.  Исто така може да биде користен и од активисти, бранители на човечки права, блогери, новинари или медиумски активисти кои сакаат да научат како да се заштитат себе си и како да им помогнат на другите. Ако Вие или некој на кого му помагате има дигитален проблем, Дигиталната брза помош ќе ве насочува во дијагностицирањето на проблемите кои ги имате, и ќе ви понуди поддршка од организации кои нудат помош доколку ви треба тоа.

.how
  .contents.fixed-width-smaller-container
    .separator
      h1 Со кој проблем се соочувате?

    .pure-g
      .icons.pure-u-1
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-device')
            img(src=site.baseurl + '/images/topics/lost-device.svg', width=180)
            p Го изгубив мојот уред
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/account-access-issues')
            img(src=site.baseurl + '/images/topics/account-access-issues.svg', width=180)
            p Изгубив пристап до мојата сметка
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/device-acting-suspiciously') 
            img(src=site.baseurl + '/images/topics/device-acting-suspiciously.svg', width=180)
            p Мојот уред се однесува сомнително
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/suspicious-messages') 
            img(src=site.baseurl + '/images/topics/suspicious-messages.svg', width=180)
            p Добивам сомнителни пораки
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/website-not-working')
            img(src=site.baseurl + '/images/topics/website-not-working.svg', width=180)
            p Мојот веб-сајт не работи
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/impersonated')
            img(src=site.baseurl + '/images/topics/impersonated.svg', width=180)
            p Некој се претставува како мене онлајн
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/harassed-online')
            img(src=site.baseurl + '/images/topics/harassed-online.svg', width=180)
            p Вознемируван сум кога сум онлајн
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-data') 
            img(src=site.baseurl + '/images/topics/lost-data.svg', width=180)
            p Ги изгубив моите податоци
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='arrested') 
            img(src=site.baseurl + '/images/topics/arrested.svg', width=180)
            p Некој што го познавам е уапсен

    p.after 
      | Одберте го проблем со кој се соочувате и Дигиталната прва помош 
      | ќе ве води низ сет на прашања за подобро да се дијагностицира 
      | проблемот и да се најдат ресурси кои ќе ви помогнат. За проблеми кои не можете 
      | сами да ги решите, Дигиталната прва помош има 
      a(href="support/") листа од организации со кои може да се консултирате
      | .

.bottom
  .contents.fixed-width-smaller-container
    .pure-g
      .pure-u-1-1.cols
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 ШТО ДРУГИ Е ПОТРЕБНО ДА ЗНАЕТЕ?
          p
            | Дигиталната прва помош не е замислена како крајно решение за сите
            | Ваши дигитални итни случаи. Ако не сте сигурни како да ги решите
            | проблемите со кои се соочувате, Ве молиме контактирајте ја  
            a(href="support/") листата на организации со кои може да се консултирате
            | .
        .pure-u.pure-u-md-1-3.pure-u-sm-1.lightgrey
          h1 СЕ ОСЕЌАТЕ ПРЕПЛАВЕНИ ОД СТРЕС?
          p
            | Онлајн вознемирувањето, заканите, и другите типови на дигитални напади
            | создаваат огромен тован врз Вашите чувства и здравје. Прочитајте ги
            a(href="self-care/") советите од Водичот за само-грижа
            |  за да најдете повеќе ресурси и организации за поддршка и
            | ублажување на проблемите.
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 КОЈ ЈА ИМА ИЗРАБОТЕНО И ОДРЖУВА ДИГИТАЛНАТА БРЗА ПОМОШ?
          p
            | Овој ресурс е заеднички производ на 
            a(href="https://rarenet.org") Rapid Response Network 
            | и
            a(href="https://civicert.org") CiviCERT
            | . Видете ја
            a(href="about/") страната За нас
            | за дополнителни информации. Дигиталната брза помош е проект со отворен код и е отворен 
            a(href="https://gitlab.com/rarenet/dfak") за надворешна соработка
            | .
